.chat {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    box-shadow: 1px 1px 1px grey;
}
.history {
    background-color: aliceblue;
    height: 300px;
    grid-column: 1;
}

.sender {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 5px;
    textarea {
        grid-column: 1;
    }

    button {
         grid-column: 1;
    }
}

.room {
    max-width: 100px;
    height: 30px;
}