.board {
    max-width: 300px;
    min-height: 330px;
    box-shadow: 5px 5px 5px grey;
    border: none solid 1px;
    grid-column: 1;
}

.body {
    background-color: darkgray;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: auto;
    background-color: floralwhite;
    width: 60px;
    height: 80px;
    margin: 1px;
    text-align: center;
    display: grid;
    padding: 9px;
    align-content: center;
    font-family: cursive;
}

.legend {
    width: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    background-color: forestgreen;
}

.label1 {
    height: 80%;
    border: skyblue solid 1px;
    background-color: white;
    margin: 5px;
    grid-column: auto;
    display: grid;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

.label2{
    height: 80%;
    border: white solid 1px;
    margin: 5px;
    grid-column: auto;
    display: grid;
    text-align: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.disabled {
    background-color: darkgray;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    opacity: 0.4;
}

.result {
    position: relative;
    bottom: 250px;
}
