
    .login-wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

.login-section1 {
  grid-column: 1/7;
}
.login-section2 {
  grid-column: 7/13;
}
.login-wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);

}
@media (min-width: 500px) {
  .login-wrapper {
  grid-template-columns: repeat(12, 1fr);

  }
}
@media (min-width: 700px) {
  .login-wrapper {
  grid-template-columns: repeat(12, 1fr);

   }
}
